body{
    background-color: rgb(252, 217, 224);
    margin: 0;
}
#logo{

    width: 150px;
    height: 150px;
    margin-top: 2px;
    margin-left: 2px;
}
/*Estilos de header*/
.headerL{
    width: 700px;
    height: 155px;
    background-color: rgb(252, 217, 224);
    margin: 0 auto;
    display: flex;
}
#lista li{
    display:inline;
    padding-left:3px;
    padding-right:3px;
}
  
#lista
{
    font-family:Arial;
    font-weight:bold;
    font-size:18px;
    color: white;
    margin-top: 70px;
    margin-left: 100px;    
}

#lista1{

    text-decoration:none;
    color: white;
}



/*Estilos de contenido*/
.Contenido{
    width: auto;
    height: 800px;
    /*border: 2px solid orangered;*/
}
 
#certRegalo{
    /*estilos de la imagen */
    width: 500px; 
    height:500px;
    float: right;
}
.certiRega{
    /*Estilos del texto */
    text-align: center;
    font-family: 'Poppins', sans-serif;
}






/*Estilos de footer*/
.PiePagina{
    width: auto;
    height: 230px;
    background-color: rgb(252, 217, 224);
}

.iconos{
    color: #f288cb;
    margin-left: 15px;
    padding-left: 20px;
    margin-top: 35px;
    opacity: .8;
}
.iconos1{
    width: auto;
    height: 50px;
    /*border: 1px solid red;*/
}

.Informacion{
    width: auto;
    height: auto;
    display: flex;
    padding-left: 250px;
   /* border: 1px solid black;*/
}
#info{
    margin-left:350px;
    margin-top: -15px;
    /*border: 1px solid maroon;*/
    text-align: center;

}

#lista2 {

    text-decoration:none;
    color: #f288cb;
    font-size: 1em;
    font-family:Arial;
}
.copyr{
    width: auto;
    height: 20px;
    text-align: center;
    color: #f288cb;

}

hr{
   border-color: #f288cb;
   opacity: .2;
}
h3{
    color: #f288cb;
    
}
